body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

header {
  height: 50px;
  background-color: aqua;
  padding: 0 350px;
}

.container {
  width: 600px;
  height: 250px;
  margin: 0 auto;
  background-color: pink;
}

.container-div-1 {
    width: 70%;
    height: 250px;
    background-color: lightblue;
}

.container-div-2{
    width: 30%;
    height: 250px;
    background-color: pink;
}


.border {
  border: 1px dashed black;
  width: 25%;
}

.border-2 {
  border: 1px dashed black;
  width: 50%;
  text-align: center;
}

.border-3 {
  border: 1px dashed black;
  width: 25%;
  text-align: end;
}

.color-pink {
  background-color: rgb(212, 128, 142);

}

.color-yellow {
    background-color: yellow;
}

/* .justify-evenly {
} */

/* .space-between {
  justify-content: space;
} */

.align-content {
  align-content: center;
}

.section-blu {
  height: 350px;
  background-color: blue;
}

.section-white {
  background-color: white;
  height: 350px;
}

.section-lightgray {
    background-color: lightgray;
    height: 350px;
}

.section-black {
    background-color: black;
    height: 400px;

    

}

.section-black-2 {
    background-color: black;
    height: 150px;
}

.last-section {
    height: 650px;
    background-color: lightgray;
    padding: 0 350px;
}

.green {
    background-color: green;
    height: 500px;
  
}

.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
  justify-content: center;
}

.padding-350 {
    padding: 350px;
}




.first-column {
    height: 350px;
    width: 30%;
    background-color: pink;
    border: 1px dashed white;
}

.rest-column {
    height: 350px;
    width: 17.5%;
    background-color: lightblue;
    border: 1px dashed white;
}

.border-bottom {
    border-bottom: 2px dashed white;
}

.last-div {
   background-color: aqua;
   width: 0 auto;
   height: 50px;
    margin: 0px 350px;
}